ros_workspace/devel/
ros_workspace/logs/
ros_workspace/build/
ros_workspace/bin/
ros_workspace/lib/
ros_workspace/msg_gen/
ros_workspace/srv_gen/

ros_workspace/msg/*Action.msg
ros_workspace/msg/*ActionFeedback.msg
ros_workspace/msg/*ActionGoal.msg
ros_workspace/msg/*ActionResult.msg
ros_workspace/msg/*Feedback.msg
ros_workspace/msg/*Goal.msg
ros_workspace/msg/*Result.msg
ros_workspace/msg/_*.py

ros_workspace/build_isolated/
ros_workspace/devel_isolated/

ros_workspace/*.cfgc
ros_workspace/cfg/cpp/
ros_workspace/cfg/*.py

ros_workspace/*.dox
ros_workspace/*.wikidoc

ros_workspace/.project
ros_workspace/.cproject

ros_workspace/CMakeLists.txt.user

ros_workspace/srv/_*.py

ros_workspace/*.pcd
ros_workspace/*.pyc
ros_workspace/qtcreator-*
ros_workspace/*.user

ros_workspace/planning/cfg/
ros_workspace/planning/docs/
ros_workspace/planning/src/

ros_workspace/*~

ros_workspace/.#*

ros_workspace/CATKIN_IGNORE

